.div1{
    // height:30vh;
    width:60%;
    border-radius: 30px;
    position: absolute;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
    padding:5rem 5rem;}.div1












































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































.imageOutput{margin-top: 0.2rem;}

















    
